<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

EX2:Create a markdown cell with the title Data Science Tools and Ecosystem using H1 style heading.

# Data Science Tools and Ecosystem

EX3:Write an introductory sentence about the notebook such as the follows:

"In this notebook, Data Science Tools and Ecosystem are summarized."

In this notebook, Data Science Tools and Ecosystem are summarized.

EX10:Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: Objectives: in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science

**List popular languages for Data Science
* Python
* R
* Julia
* C++
* Java

EX4: Start the cell with an overview line such as:

"Some of the popular languages that Data Scientists use are:".
Then create an ordered list (i.e. numbered) listing 3 (or more) commonly used languages for data science.

Some of the popular languages that Data Scientists use are:
+ Python
+ R
+ Julia

EX5:Add an overview line to the cell like:

"Some of the commonly used libraries used by Data Scientists include:". 
Below this line add an ordered list listing 3 (or more) commonly used libraries in data science.

Some of the commonly used libraries used by Data Scientists include:
- Numpy
- Pandas
- Matplotlib

EX6:Create a single column table in this cell with the first row containing the header "Data Science Tools". The subsequent three rows in the table should indicate three development environment open source tools used in data science.

| Data Science Tools |
| ------------------ |
| JupyterLab |
| RStudio |
| VSCode |

EX7:Add a line in this cell with H3 style heading with text like:

"Below are a few examples of evaluating arithmetic expressions in Python."

### Below are a few examples of evaluating arithmetic expressions in Python.

EX8:In this code cell evaluate the expression (3*4)+5.

Insert a comment line before the expression to explain the operation e.g.  
This a simple arithmetic expression to mutiply then add integers.

In [5]:
(3*4)+5
## This a simple arithmetic expression to mutiply then add integers.

17

EX9:In this code cell write an expression that converts 200 minutes into hours.

Insert a comment line before the expression to explain the operation e.g.  
This will convert 200 minutes to hours by diving by 60.

In [6]:
200/60
## This will convert 200 minutes to hours by diving by 60

3.3333333333333335

EX11:In this markdown cell markdown cell include the following text Author in H2 style heading. Include your name as regular text below the word Author.

## Author: DoThanhTruc